h1 {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    padding-left: 20px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
h2, h3 {
    padding-left: 20px;
    padding-top: 20px;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

.head_main{
    position: relative;
    z-index: 1;
    opacity: 100%;
    margin-left: 15%;
}
.Map_bt{
    margin: 10px;
    position : flex;
    background-color: red;
    display: inline-block;
    text-align: center;
    width: 240px;
    height: 120px;
    justify-content: center;
}
.List_bt{
    margin: 10px;
    position : flex;
    background-color: greenyellow;
    display: inline-block;
    width: 240px;
    height: 120px;
    text-align: center;
    justify-content: center;
}
.Graph_bt{
    position : flex;
    background-color: blue;
    display: inline-block;
    width: 240px;
    height: 120px;
    text-align: center;
    justify-content: center;

}
.Build_bt{
    position : flex;
    background-color: aqua;
    display: inline-block;
    width:  240px;
    height: 120px;
    text-align: center;
    justify-content: center;

}
.text{
    font-family: sans-serif;
    font-size: large;
    top: 40%;
    display: inline-block;     
    position: relative;    
}
.graph{
    margin: 10px;
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    background-color: a-ntiquewhite;
}
.body_main{
    background-image: url(../img/background.jpg);
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    height: 90%;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    border-radius: 10px;
    position: relative;
    text-align: center;
}
body {
    background-image: url(../img/main_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  } 
.sub_main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 30px;
    border: 3px solid orangered; 
    border-radius: 20px;
    background-color: white;
}
.sub{
    position: relative;
    top: 20%;
    margin-left: 12px;
}

.logo{
    width: 300px;
    height: 200px;
    margin-left: 8rem;
  }

.button{
    background-color: rgba(255, 255, 255, .85);
    border: 1px solid black;
    width: 240px;
    height: 120px;
    margin: 40px;
    display: inline-block;
    position : flex;
    text-align: center;
    border-radius: 20px;
}
.custom-select {
    position: relative;
    font-family: Arial;
    width: 200px;
    display: inline-block;
  }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    border-radius: 20px;
    background-color: white;
    
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000000 transparent transparent transparent;
   
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #000000 transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected { 
    color: #000000;
    padding: 8px 16px;
    border: 1px solid transparent;
    /*border-color: transparent transparent black transparent;*/
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 20px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .time{
    font-size: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}    
   .time_start{
     border-color: orange;
     border-radius: 20px;
     font-size: 20px;
   }
   .time_stop{
    border-color: orange;
    border-radius: 20px;
    font-size: 20px;
    }
    .gtext{
        font-size: 20px;
        display: inline-block;
    }
    .inline{
        position: relative;
        display: inline-block;
        height: 20px;
        margin-bottom: 40px;
    }

    .graphs{
        position: relative;
        width: fit-content;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .loglists{
      margin: 10px;
      position: relative;
      height: 650px;
      display: inline-block;
      border: 2px solid orangered; 
      border-radius: 10px;
      background-color: #fff;
      text-align: left;
    }
    .imp_bt{
      border-radius: 10px;
      font-size: 20px;
      border: 3px solid orangered; 
      background-color:#fff;
    }
    .search{
        position: relative;
        text-align: right;
        margin-right: 30px;
    }
    .search-bt{
      border-radius: 10px;
      font-size: 20px;
      border: 3px solid orangered; 
      background-color:#fff;
    }
    .search-bar{
      border-radius: 10px;
      font-size: 20px;
      border: 3px solid orangered; 
      background-color:#fff;
    }
    