h1 {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    padding-left: 20px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
h2, h3 {
    padding-left: 20px;
    padding-top: 20px;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
.head_main{
    position: relative;
    z-index: 1;
    opacity: 100%;
    margin-left: 15%;
}
.Map_bt{
    margin: 10px;
    position : flex;
    background-color: red;
    display: inline-block;
    text-align: center;
    width: 240px;
    height: 120px;
    justify-content: center;
}
.List_bt{
    margin: 10px;
    position : flex;
    background-color: greenyellow;
    display: inline-block;
    width: 240px;
    height: 120px;
    text-align: center;
    justify-content: center;
}
.Graph_bt{
    position : flex;
    background-color: blue;
    display: inline-block;
    width: 240px;
    height: 120px;
    text-align: center;
    justify-content: center;

}
.Build_bt{
    position : flex;
    background-color: aqua;
    display: inline-block;
    width:  240px;
    height: 120px;
    text-align: center;
    justify-content: center;

}
.text{
    font-family: sans-serif;
    font-size: large;
    top: 40%;
    display: inline-block;     
    position: relative;    
}
.graph{
    margin: 10px;
    position: absolute;
    min-width: 250px;
    min-height: 250px;
    background-color: a-ntiquewhite;
}
.body_main{
    background-image: url(../img/background.jpg);
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    height: 90%;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    border-radius: 10px;
    position: relative;
}
body {
    background-image: url(../img/main_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  } 
.sub_main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 30px;
    border: 3px solid orangered; 
    border-radius: 20px;
    background-color: white;
}
.sub{
    position: relative;
    top: 20%;
    margin-left: 12px;
}

.logo{
    width: 300px;
    height: 200px;
    margin-left: 8rem;
  }

.button{
    background-color: rgba(255, 255, 255, .85);
    border: 1px solid black;
    width: 240px;
    height: 120px;
    margin: 40px;
    display: inline-block;
    position : flex;
    text-align: center;
    border-radius: 20px;
}